
body{

    background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),url(img/productBackground.png);
    background-position: center;
    background-size: cover;

}

.benvenuto{


    margin: auto;
    background:linear-gradient(rgba(202, 198, 198, 0.4), rgba(202,198,198,0.4));
    border: 2px groove grey;
    padding: 1px;
    box-shadow: 0px 7px 5px 5px #990099;
    width: 1000px;
    margin-top: 110px;


}

.short-description{

    margin: auto;
    padding-top:15px;
    width: 1000px;

}


.center-box-left{
    
    width:400px;
    height:400px;
    top: 20px;
    left:760px;
    background:linear-gradient(rgba(202, 198, 198, 0.2), rgba(202,198,198,0.2)); 
    position:relative;
    overflow:auto;
    scrollbar-width:thin;
    scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}




::-webkit-scrollbar {
  width: 11px;
}

/* Track */
::-webkit-scrollbar-track {
  background: grey; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: lightblue; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}


.buttonPdf {
    border-radius: 4px;
    background-color: #ffccff;
    border: 2px solid #990099;
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    padding: 15px 32px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 20px 2px;
    text-align:center;

}

.buttonPdf span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.2s;
}

.buttonPdf span:after {
    content: '\f1c1';
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.2s;
}

.buttonPdf:hover span {
    padding-right: 25px;

}

.buttonPdf:hover span:after {
    opacity: 1;
    right: 0;
}

.buttonPdf:hover{

    background-color: #990099;
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);


}

